LIBFREEBSD_NETWORK_HDRS-y += $(LIBFREEBSD)/include/arpa/inet.h
LIBFREEBSD_NETWORK_HDRS-y += $(LIBFREEBSD)/include/arpa/nameser.h
LIBFREEBSD_NETWORK_HDRS-y += $(LIBFREEBSD)/include/byteswap.h
LIBFREEBSD_NETWORK_HDRS-y += $(LIBFREEBSD)/include/ctype.h
LIBFREEBSD_NETWORK_HDRS-y += $(LIBFREEBSD)/include/errno.h
LIBFREEBSD_NETWORK_HDRS-y += $(LIBFREEBSD)/include/fcntl.h
LIBFREEBSD_NETWORK_HDRS-y += $(LIBFREEBSD)/include/ifaddrs.h
LIBFREEBSD_NETWORK_HDRS-y += $(LIBFREEBSD)/include/inttypes.h
LIBFREEBSD_NETWORK_HDRS-y += $(LIBFREEBSD)/src/internal/libc.h
LIBFREEBSD_NETWORK_HDRS-y += $(LIBFREEBSD)/include/limits.h
LIBFREEBSD_NETWORK_HDRS-y += $(LIBFREEBSD)/src/internal/locale_impl.h
LIBFREEBSD_NETWORK_HDRS-y += $(LIBFREEBSD)/src/network/lookup.h
LIBFREEBSD_NETWORK_HDRS-y += $(LIBFREEBSD)/include/netdb.h
LIBFREEBSD_NETWORK_HDRS-y += $(LIBFREEBSD)/include/net/ethernet.h
LIBFREEBSD_NETWORK_HDRS-y += $(LIBFREEBSD)/include/net/if.h
LIBFREEBSD_NETWORK_HDRS-y += $(LIBFREEBSD)/include/net/if_arp.h
LIBFREEBSD_NETWORK_HDRS-y += $(LIBFREEBSD)/include/netinet/ether.h
LIBFREEBSD_NETWORK_HDRS-y += $(LIBFREEBSD)/include/netinet/if_ether.h
LIBFREEBSD_NETWORK_HDRS-y += $(LIBFREEBSD)/include/netinet/in.h
LIBFREEBSD_NETWORK_HDRS-y += $(LIBFREEBSD)/include/netinet/tcp.h
LIBFREEBSD_NETWORK_HDRS-y += $(LIBFREEBSD)/src/network/netlink.h
LIBFREEBSD_NETWORK_HDRS-y += $(LIBFREEBSD)/include/poll.h
LIBFREEBSD_NETWORK_HDRS-y += $(LIBFREEBSD)/include/pthread.h
LIBFREEBSD_NETWORK_HDRS-y += $(LIBFREEBSD)/include/resolv.h
LIBFREEBSD_NETWORK_HDRS-y += $(LIBFREEBSD)/include/stddef.h
LIBFREEBSD_NETWORK_HDRS-y += $(LIBFREEBSD)/include/stdint.h
LIBFREEBSD_NETWORK_HDRS-y += $(LIBFREEBSD)/include/stdio.h
LIBFREEBSD_NETWORK_HDRS-y += $(LIBFREEBSD)/src/internal/stdio_impl.h
LIBFREEBSD_NETWORK_HDRS-y += $(LIBFREEBSD)/include/stdlib.h
LIBFREEBSD_NETWORK_HDRS-y += $(LIBFREEBSD)/include/string.h
LIBFREEBSD_NETWORK_HDRS-y += $(LIBFREEBSD)/src/internal/syscall.h
LIBFREEBSD_NETWORK_HDRS-y += $(LIBFREEBSD)/include/sys/ioctl.h
LIBFREEBSD_NETWORK_HDRS-y += $(LIBFREEBSD)/include/sys/un.h
LIBFREEBSD_NETWORK_HDRS-y += $(LIBFREEBSD)/include/time.h
LIBFREEBSD_NETWORK_HDRS-y += $(LIBFREEBSD)/include/unistd.h

LIBFREEBSD_NETWORK_HDRS-y += $(LIBFREEBSD)/include/sys/socket.h

LIBFREEBSD_NETWORK_SRCS-y += $(LIBFREEBSD_SRC)/lib/libc/sys/accept.c
LIBFREEBSD_NETWORK_SRCS-y += $(LIBFREEBSD_SRC)/lib/libc/sys/accept4.c
LIBFREEBSD_NETWORK_SRCS-y += $(LIBFREEBSD_SRC)/lib/libc/sys/bind.c
LIBFREEBSD_NETWORK_SRCS-y += $(LIBFREEBSD_SRC)/lib/libc/sys/shutdown.c
LIBFREEBSD_NETWORK_SRCS-y += $(LIBFREEBSD_SRC)/lib/libc/sys/getpeername.c
LIBFREEBSD_NETWORK_SRCS-y += $(LIBFREEBSD_SRC)/lib/libc/sys/getsockname.c
LIBFREEBSD_NETWORK_SRCS-y += $(LIBFREEBSD_SRC)/lib/libc/sys/getsockopt.c
LIBFREEBSD_NETWORK_SRCS-y += $(LIBFREEBSD_SRC)/lib/libc/sys/setsockopt.c
LIBFREEBSD_NETWORK_SRCS-y += $(LIBFREEBSD_SRC)/lib/libc/sys/connect.c
LIBFREEBSD_NETWORK_SRCS-y += $(LIBFREEBSD_SRC)/lib/libc/sys/listen.c
LIBFREEBSD_NETWORK_SRCS-y += $(LIBFREEBSD_SRC)/lib/libc/net/recv.c
LIBFREEBSD_NETWORK_SRCS-y += $(LIBFREEBSD_SRC)/lib/libc/sys/recvfrom.c
LIBFREEBSD_NETWORK_SRCS-y += $(LIBFREEBSD_SRC)/lib/libc/sys/recvmsg.c
LIBFREEBSD_NETWORK_SRCS-y += $(LIBFREEBSD_SRC)/lib/libc/net/send.c
LIBFREEBSD_NETWORK_SRCS-y += $(LIBFREEBSD_SRC)/lib/libc/sys/sendmsg.c
LIBFREEBSD_NETWORK_SRCS-y += $(LIBFREEBSD_SRC)/lib/libc/sys/sendto.c
LIBFREEBSD_NETWORK_SRCS-y += $(LIBFREEBSD_SRC)/lib/libc/sys/socketpair.c
LIBFREEBSD_NETWORK_SRCS-y += $(LIBFREEBSD_SRC)/lib/libc/net/gai_strerror.c
LIBFREEBSD_NETWORK_SRCS-y += $(LIBFREEBSD_SRC)/lib/libc/net/getaddrinfo.c
LIBFREEBSD_NETWORK_SRCS-y += $(LIBFREEBSD_SRC)/lib/libc/net/freeaddrinfo.c
LIBFREEBSD_NETWORK_SRCS-y += $(LIBFREEBSD_SRC)/lib/libc/net/getnameinfo.c
LIBFREEBSD_NETWORK_SRCS-y += $(LIBFREEBSD_SRC)/lib/libc/net/gethostbyname.c
LIBFREEBSD_NETWORK_SRCS-y += $(LIBFREEBSD_SRC)/lib/libc/net/gethostbyname2.c
LIBFREEBSD_NETWORK_SRCS-y += $(LIBFREEBSD_SRC)/lib/libc/net/gethostbyaddr.c
LIBFREEBSD_NETWORK_SRCS-y += $(LIBFREEBSD_SRC)/lib/libc/net/getifaddrs.c
LIBFREEBSD_NETWORK_SRCS-y += $(LIBFREEBSD_SRC)/lib/libc/net/getservbyname.c
LIBFREEBSD_NETWORK_SRCS-y += $(LIBFREEBSD_SRC)/lib/libc/net/getservbyport.c
LIBFREEBSD_NETWORK_SRCS-y += $(LIBFREEBSD_SRC)/lib/libc/resolv/h_errno.c
LIBFREEBSD_NETWORK_SRCS-y += $(LIBFREEBSD_SRC)/lib/libc/resolv/herror.c
LIBFREEBSD_NETWORK_SRCS-y += $(LIBFREEBSD_SRC)/lib/libc/net/if_indextoname.c
LIBFREEBSD_NETWORK_SRCS-y += $(LIBFREEBSD_SRC)/lib/libc/net/if_nameindex.c
LIBFREEBSD_NETWORK_SRCS-y += $(LIBFREEBSD_SRC)/lib/libc/net/if_nametoindex.c
LIBFREEBSD_NETWORK_SRCS-y += $(LIBFREEBSD_SRC)/lib/libc/inet/inet_addr.c
LIBFREEBSD_NETWORK_SRCS-y += $(LIBFREEBSD_SRC)/lib/libc/inet/inet_ntoa.c
LIBFREEBSD_NETWORK_SRCS-y += $(LIBFREEBSD_SRC)/lib/libc/inet/inet_ntop.c
LIBFREEBSD_NETWORK_SRCS-y += $(LIBFREEBSD_SRC)/lib/libc/inet/inet_pton.c
LIBFREEBSD_NETWORK_SRCS-y += $(LIBFREEBSD_SRC)/lib/libc/rpc/netname.c
LIBFREEBSD_NETWORK_SRCS-y += $(LIBFREEBSD_SRC)/lib/libc/nameser/ns_parse.c
LIBFREEBSD_NETWORK_SRCS-y += $(LIBFREEBSD_SRC)/lib/libc/resolv/res_init.c
LIBFREEBSD_NETWORK_SRCS-y += $(LIBFREEBSD_SRC)/lib/libc/resolv/res_mkquery.c
LIBFREEBSD_NETWORK_SRCS-y += $(LIBFREEBSD_SRC)/lib/libc/resolv/res_query.c
LIBFREEBSD_NETWORK_SRCS-y += $(LIBFREEBSD_SRC)/lib/libc/resolv/res_send.c
LIBFREEBSD_NETWORK_SRCS-y += $(LIBFREEBSD_SRC)/lib/libc/resolv/res_state.c
LIBFREEBSD_NETWORK_SRCS-y += $(LIBFREEBSD_SRC)/lib/libc/net/sockatmark.c

$(eval $(call _libfreebsd_import_lib,network,$(LIBFREEBSD_NETWORK_HDRS-y),$(LIBFREEBSD_NETWORK_SRCS-y)))
